.formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: 150px;
}

.formulario h2 {
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 900;
}

.formulario-campo {
	margin: 10px 0;
}

.formulario-campo label {
	font-size: 23px;
}

.formulario-campo input {
	padding: 10px 15px;
}