.cabecalho {
	height: 300px;
	background: #C0C0C0;
}

.logo {
	width: 20%;
}

.navegacao {
	display: flex;
	justify-content: flex-end;
	position: relative;
	right: 80px;
	bottom: 50px
}

.navegacao-link {
	margin: 0 25px;
	font-size: 23px;
	font-style: italic;	
	cursor: pointer;
}

.formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: 150px;
}

.formulario h2 {
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 900;
}

.formulario-campo {
	margin: 10px 0;
}

.formulario-campo label {
	font-size: 23px;
}

.formulario-campo input {
	padding: 10px 15px;
}

.formulario-imagem {
	margin-top: 30px;
	margin-bottom: 150px;
	width: 40%;
}

.botao {
	padding: 10px 50px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
	font-weight: 700;
}

.rodape {
	margin-top: 100px;
	height: 400px;
	background: #808080;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.navegacao-rodape {
	display: flex;
	font-size: 20px;
}

.logo-rodape {
	width: 20%;
}

.navegacao-rodape-link {
	margin: 0 25px;
	font-size: 19px;
	color: #FFFFFF;
}

.agendado-conteudo {
	margin-top: 100px;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.agendado-texto {
	font-size: 30px;
	font-weight: 900;
}

.agendado-imagem {
	widows: 80%;
	margin: 40px 0;
}

.agendado-link {
	font-size: 24px;
	text-decoration: none;
	color: #000000;
}

.agendado-imagens {
	display: flex;
	align-content: center;
    justify-content: center;
    align-items: center;
}

.agendado-imagens a img {
	margin: 0 50px;
}

.clientes {
	width: 30%;
	height: 100px;
	border: 2px solid black;
}
